<div class="d-flex flex-wrap mb-4">
    <h1 class="flex-grow-1" i18n="@@user.add.headline">Add User</h1>
    <div>
        <a routerLink="/users" class="btn btn-secondary" i18n="@@user.add.back">Back to list</a>
    </div>
</div>
<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="addForm" field="username" i18n-label="@@user.username.label" label="Username" />
    <app-input-row [group]="addForm" field="password" i18n-label="@@user.password.label" label="Password" />
    <app-input-row [group]="addForm" field="firstName" i18n-label="@@user.firstName.label" label="First Name" />
    <app-input-row [group]="addForm" field="surname" i18n-label="@@user.surname.label" label="Surname" />
    <app-input-row [group]="addForm" field="email" i18n-label="@@user.email.label" label="Email" />
    <input type="submit" i18n-value="@@user.add.headline" value="Add User" class="btn btn-primary mt-4" />
</form>
